In [6]:
#5
#Fetch the host country and year of FIFA WorldCup into a dictionary
import pandas as pd
dfa = pd.read_csv('results.csv')
dfa['year'] = pd.DatetimeIndex(dfa['date']).year
fifa = dfa[dfa['tournament']=='FIFA World Cup']
dates = fifa.date.tolist()
years=[]
for date in dates:
    year=date.split('-')[0]
    if year not in years:
        years.append(year)
dictOfCountries={}
for i in range(len(years)):
    for j in range(len(fifa[fifa['year']==eval(years[i])].country.unique())):
        if years[i] in dictOfCountries.keys():
            dictOfCountries[years[i]].append(fifa[fifa['year']==eval(years[i])].country.unique()[j])
        else:
            dictOfCountries[years[i]]=[fifa[fifa['year']==eval(years[i])].country.unique()[j]]

In [7]:
dictOfCountries

{'1930': ['Uruguay'],
 '1934': ['Italy'],
 '1938': ['France'],
 '1950': ['Brazil'],
 '1954': ['Switzerland'],
 '1958': ['Sweden'],
 '1962': ['Chile'],
 '1966': ['England'],
 '1970': ['Mexico'],
 '1974': ['Germany'],
 '1978': ['Argentina'],
 '1982': ['Spain'],
 '1986': ['Mexico'],
 '1990': ['Italy'],
 '1994': ['United States'],
 '1998': ['France'],
 '2002': ['South Korea', 'Japan'],
 '2006': ['Germany'],
 '2010': ['South Africa'],
 '2014': ['Brazil'],
 '2018': ['Russia']}

In [16]:
#4 Number of matches played in each tournament
dfa.tournament.value_counts()

Friendly                                17036
FIFA World Cup qualification             7236
UEFA Euro qualification                  2582
African Cup of Nations qualification     1672
FIFA World Cup                            900
                                        ...
Dragon Cup                                  4
World Unity Cup                             4
Atlantic Heritage Cup                       2
Copa Am√©rica qualification                  2
AFF Championship qualification              2
Name: tournament, Length: 112, dtype: int64

In [9]:
#3 first 3 matches
dfa[0:3]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874

In [12]:
#2
print(dfa.away_team)

0            England
1           Scotland
2            England
3           Scotland
4            England
            ...
41535     Tajikistan
41536       Thailand
41537      Indonesia
41538      Sri Lanka
41539    North Korea
Name: away_team, Length: 41540, dtype: object

In [15]:
#1 hosted second highest number of matches
dicta = dfa.country.value_counts()
print("Country that hosted the second highest number of matches is",dicta.keys()[1],'with',dicta[1],'matches hosted')

Country that hosted the second highest number of matches is France with 806 matches hosted