In [5]:
#1
a=int(input("Enter 1st number: "))
b=int(input("Enter 2nd number: "))
sum=a+b
avg1=sum//2
print(avg1)

Enter 1st number: 44
Enter 2nd number: 57
50

In [4]:
avg1

5

In [9]:
#2
list1=[1,2,3,55,6,7,4,5]
for var in list1:
    if var<5:
        print(var)

1
2
3
4

In [12]:
#3
n=eval(input("Enter the number: "))
if n%2==0 and n%10!=0:
    print("Even")
elif n%2!=0:
    print("Odd")
elif n%10==0:
    print("Number divisible by 10. Enjoy")

Enter the number: 30
Number divisible by 10. Enjoy

In [15]:
#4

p=eval(input("Enter the 1st integer: "))
q=eval(input("Enter the 2nd integer: "))
if p*q>500:
    print("Product greater than 500. Sum is: ",p+q)
else:
    print(p*q)

Enter the 1st integer: -98
Enter the 2nd integer: 34
-3332

In [17]:
#5

for i in range(5,21):
    print(i+i-1)

9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

In [21]:
#6

val=str(input("Enter letter: "))
listb=["a","e","i","o","u","A","E","I","O","U"]
for varb in listb:
    if val==varb:
        print("Vowel")
        break;
else:
    print("Consonant")

Enter letter: I
Vowel

In [28]:
#7

st=str(input("Enter String: "))
c=len(st)
for i in range(0,c):
    if i%2==0:
        print(st[i])

Enter String: amrit
a
r
t

In [27]:
len(st)

4

In [30]:
#8

listd=[12,34,20,45,67,70,30,234]
for var in listd:
    if var%10==0:
        print(var)

20
70
30

In [32]:
#9

liste=[234,2,3,4,78,9,1]
if liste[0]==liste[-1]:
    print("They are same")
else:
    print("Different")

Different

In [45]:
#10
list10=[]
str10=input("Enter string: ")
str10.replace(" ","_")

Enter string: the quick brown bloody fox

'the_quick_brown_bloody_fox'

In [44]:
list10

['"asds', 'sda', 'adsa"']

In [36]:
str[0]="e"

TypeError: 'str' object does not support item assignment

In [51]:
#11

str11=input("Enter String:")
c=len(str11)
strs11=str11[c::-1]
if str11==strs11:
    print("String is a palindrome")
else:
    print("String is not a palindrome")

Enter String:"add"
String is not a palindrome

In [49]:
str11[-1]

'd'

In [58]:
#12
n=int(input("Enter range: "))
n1=0
n2=1
for i in range(0,n):
    print(n1)
    n3=n1+n2
    n1=n2
    n2=n3

Enter range: 5
0
1
1
2
3

In [72]:
#13

stra="hello how are you"
strb="hey"
c=len(stra)
strc=stra[0:c//2]
strd=stra[(c//2)+1:c]
stre=strc+strb+strd
print(stre)

hello hohey are you

In [70]:
stre

['hello ho', 'hey', ' are you']

In [78]:
#14

for i in range(1,7):
    for j in range(1,i):
        print(j,end='')
    print(" ")

1
12
123
1234
12345

In [87]:
#15

stra=input("Enter String: ")
c=len(stra)
d=(c*0.25)//1
d=int(d)
print(stra[0:d])

Enter String: dalinar adff ffafaf
dali

In [85]:
d

3.0

In [92]:
#16

lista=[1,2,3,56,78,88,21,34,43,21]
c=len(lista)

if c%2!=0:
    d=c//2
    d=int(d)
    print(lista[d])
else:
    e=c//2
    e=int(e)
    var=lista[e]+lista[e-1]
    print(var)

166

In [128]:
#17
lista=[1,2,1,3,4,5,6,8,9]
listb=[23,45,33,2,1,4]
seta=set(lista)
type(seta)
setb=set(listb)
setc=seta & setb
listc=list(setc)
print(listc)

[1, 2, 4]

In [100]:
#18

year=int(input("Enter year: "))

if year%4==0:
    print("It's a leap year")
elif year%100==0 and year%400==0:
    print("It's a leap year")
else:
    print("Its not a leap year")

Enter year: 2016
It's a leap year

In [105]:
#19

n=int(input("Enter number: "))
d=n//2
d=int(d)
flag=0
for i in range(2,d):
    if n%i==0:
        flag=1
        print("Not a prime number")
        break;

if flag==0:
    print(n," is a prime number")

Enter number: 9
Not a prime number

In [102]:
d

21

In [126]:
#20

lista=[1,2,1,3,4,44,5,45,326,6,5,4,7,8,9]

seta=set(lista)

tupa=tuple(seta)
tupb=sorted(tupa)
d=len(tupa)
print("Minimum number: ",tupb[0])
print("Maximum number: ",tupb[d-1])

Minimum number:  1
Maximum number:  326

In [130]:
tupa

(1, 2, 3, 4, 5, 326, 6, 7, 8, 9, 44, 45)

In [140]:
#21

def compound(deposit,y):
    a=(1+(0.08))**y
    amount=deposit*a
    return amount

In [141]:
print("Amount is: ", compound(50000,3))

Amount is:  62985.600000000006

In [142]:
#22

dicta={1:23,2:45,3:{1:34,4:678,5:224}}

In [144]:
dicta

{1: 23, 2: 45, 3: {1: 34, 4: 678, 5: 224}}

dict

In [154]:
print(a)

<built-in method pop of dict object at 0x0000020623EF7CC8>