In [1]:
a=5

In [2]:
print(a)

5

In [3]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [6]:
for i in range(0,3):
    for j in range(0,3):
        if(i==j):
            print("lunch")
            continue;
        else:
            print("no lunch")
        print("no tea break too")

lunch
no lunch
no tea break too
no lunch
no tea break too
no lunch
no tea break too
lunch
no lunch
no tea break too
no lunch
no tea break too
no lunch
no tea break too
lunch

In [7]:
x=45

In [8]:
id(x)

140724379166480

In [9]:
delete x

SyntaxError: invalid syntax (<ipython-input-9-0af8d4ce1828>, line 1)

In [10]:
delete(x)

NameError: name 'delete' is not defined

In [11]:
del x

In [12]:
y=45

In [13]:
type(y)

int

In [14]:
id(y)

140724379166480

In [16]:
lista=["arial","asha","saza"]

In [18]:
for vara in lista:
    print(vara)

arial
asha
saza

In [19]:
varb=["anaika","kaladin","dalinar","rock","asha"]

In [23]:
for stra in lista:
    if stra in varb:
        print(stra)
        break
else:
    print("No common elements")

asha

In [25]:
def funca(a,n,d):
    return (a+(n-1)*d)

In [26]:
x=funca(3,43,7)

In [27]:
print(x)

297

In [30]:
def funcb():
    return 23,"sadeas",["teft",2,"dunny","adolin",]

In [31]:
x=funcb()

In [32]:
print(x)

(23, 'sadeas', ['teft', 2, 'dunny', 'adolin'])

In [33]:
x,y,z=funcb()

In [34]:
print(x,y,z)

23 sadeas ['teft', 2, 'dunny', 'adolin']

In [36]:
x,y,z=funcb()

In [37]:
bakar=print

In [38]:
print("asd")

asd

In [39]:
bakar("ef")

ef

In [41]:
del print

NameError: name 'print' is not defined

In [44]:
i=0
while i<5:
    bakar("hello")
    i=i+1

hello
hello
hello
hello
hello

In [45]:
def gp(a,r,n):
    return a*r**(n-1)

In [46]:
x=gp(3,0.2,700)

In [47]:
print(x)

0.0

In [48]:
0.2**700

0.0

In [54]:
listn=["vara","bara","sara","nara","dara",["a","s",1,2,3,4,5]]

In [61]:
for var in lis

SyntaxError: invalid syntax (<ipython-input-61-ba27ddde746b>, line 2)

In [69]:
i=0
for i in range(0,5):
    for j in range(0,i):
        print(j)

0
0
1
0
1
2
0
1
2
3

In [70]:
stra="navani"

In [71]:
list=stra

In [72]:
list

'navani'

In [73]:
lista= list(stra)

TypeError: 'str' object is not callable

In [78]:
 a=[]

TypeError: 'str' object is not callable

In [81]:

ord('c')

99

In [82]:
ord(99)

TypeError: ord() expected string of length 1, but int found

In [83]:
help(ord)

Help on built-in function ord in module builtins:

ord(c, /)
    Return the Unicode code point for a one-character string.

In [84]:
b=6
a=str(6)

In [85]:
a

'6'

In [86]:
str a

SyntaxError: invalid syntax (<ipython-input-86-478733e1a03b>, line 1)

In [87]:
for i in vara[0:2]:
    print(i)

s
a

In [88]:
a="name"

In [90]:
type(list)

str

In [91]:

list

'navani'

In [92]:
del list

In [93]:
b=list(a)

In [94]:
b

['n', 'a', 'm', 'e']

In [95]:
for b in range(0,5):
    for c in range(0,5):
        if b==c:
            print(c)

0
1
2
3
4

In [96]:
seta={1,4,7,8,9,12,14,56,77,89,"hello"}

In [97]:

setb={"dalinar","adolin","kaladin",23,4,5,6,56}

In [99]:
seta.update("hello")

In [100]:
seta

{1, 12, 14, 4, 56, 7, 77, 8, 89, 9, 'e', 'h', 'hello', 'l', 'o'}

In [101]:
setb={}

In [102]:
c="jashnna"

In [103]:
setb=c

In [104]:
setb

'jashnna'

In [107]:
seta.pop()

1

In [108]:
seta

{12, 14, 4, 56, 7, 77, 8, 89, 9, 'e', 'h', 'hello', 'l', 'o'}

In [109]:
seta.pop()

4

In [110]:
seta.intersection(setb)

{'h'}

In [111]:
setc=seta.union(setb)

In [112]:
setc

{12, 14, 56, 7, 77, 8, 89, 9, 'a', 'e', 'h', 'hello', 'j', 'l', 'n', 'o', 's'}

In [113]:
setf=seta & setb

TypeError: unsupported operand type(s) for &: 'set' and 'str'

In [114]:

setb={"dalinar","adolin","kaladin",23,4,5,6,56}

In [115]:
setf=seta & setb

In [116]:
setf

{56}

In [117]:
setf=seta^setb

In [118]:
seta

{12, 14, 56, 7, 77, 8, 89, 9, 'e', 'h', 'hello', 'l', 'o'}

In [119]:
avenger = {'thor':'hammer','captain':['shield','hammer'],'vision':'infinity stone'}

In [121]:
avenger

{'thor': 'hammer', 'captain': ['shield', 'hammer'], 'vision': 'infinity stone'}

In [122]:
avenger.keys

In [129]:
avenger['thor']

'hammer'

In [130]:
for vara in avenger:
    print(vara,':',avenger[vara])

thor : hammer
captain : ['shield', 'hammer']
vision : infinity stone

In [132]:
x=list(avenger.keys())

In [133]:
x

['thor', 'captain', 'vision']

In [134]:
y=list(avenger.values())

In [135]:
y

['hammer', ['shield', 'hammer'], 'infinity stone']

In [136]:
avenger.items()

dict_items([('thor', 'hammer'), ('captain', ['shield', 'hammer']), ('vision', 'infinity stone')])

TypeError: 'str' object does not support item assignment

In [ ]:
s